{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Study Design - detail form</title>
	</head>
	
<div class="container-fluid">
    <table class="table table-striped table-sm" id="my_visits">
        <thead>
            <tr>
                <th>key</th>			
                <th>Name</th>
                <th>Timepoint</th>
                <th>Has Vaccination</th>
                <th>Sample(s)</th>
            </tr>
        </thead>
        <tbody>
			<tr>
				<td>{{detail.pk}}</td>
				<td>{{detail.name}}</td>
				<td>{{detail.timepoint}}</td>
				<td>{{detail.has_vac}}</td>
				<td>{{detail.sample}}</td>
				<td><a ><button class="btn btn-warning">Edit</button></a></td>
			</tr>
        </tr>
        </tbody>
    </table>
    </div>
</html>